* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    
    background-color: rgb(249, 248, 248);
}
h3{
    
    font-family: Rubik;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 1%;
}
h4{
    font-family: Rubik;
    font-weight: normal;
    color: rgb(43, 42, 42);
    font-size: 30px;
}
img {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    
}

.signup_display{
    margin-top: 4.5vh; /* 90% of 5vh */
    flex-direction: column;
    justify-content: space-between;
    gap: 4.5%; /* 90% of 5% */
}

.quotes{
    margin-top: 9vh; /* 90% of 10vh */
    margin-left: 4.5vw; /* 90% of 5vw */
    margin-right: 4.5vw; /* 90% of 5vw */
}

fieldset{
    padding-left: 9%; /* 90% of 10% */
    padding-top: 2.7%; /* 90% of 3% */
    padding-bottom: 2.7%; /* 90% of 3% */
    background-color: white;
    display: flex;
    flex-direction: column;
    border-color: rgb(214, 214, 214);
    border-style: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 2.7%; /* 90% of 3% */
}

form{
    display: flex;
    justify-content: space-between;
    gap: 4.5%; /* 90% of 5% */
    flex-wrap: wrap;
    font-weight: normal;
    font-family: Rubik;
    color:  rgb(88, 88, 88);
    padding-right: 18%; /* 90% of 20% */
}

.label {
    margin-top: 20%;
    padding-top: 9%; /* 90% of 10% */
    display: block;
    margin-bottom: 10%;
}

.input-container {
    margin-top: 3%;
    width: 40.5%; /* 90% of 45% */
    padding-bottom: 3%; /* 90% of 5% */
}

input{
    width: 100%; /* 90% of 90% */
    height: 30px; /* 90% of 40% */
    border-style: solid;
    border-radius: 4px;
    font-size: 14.4px; /* 90% of 16px */
    font-family: Rubik;
    padding-left: 2.7%; /* 90% of 3% */
    border-color: rgb(227, 225, 225);
}

input::placeholder{
    font-size: 14.4px; /* 90% of 16px */
    font-family: Rubik;
    color: rgb(192, 192, 192);
}

.createAcc{
    margin-top: 3%;
    background-color: rgb(39, 39, 39);
    border-style: none;
    border-radius: 4px;
    width: 27%; /* 90% of 30% */
    height: 5.4%; /* 90% of 6% */
    font-family: Rubik;
    font-weight: 500;
    font-size: 13.5px; /* 90% of 15px */
    color: rgb(234, 234, 234);
    margin-left: 9%; /* 90% of 10% */
}
.createAcc:hover{
    color: rgb(205, 204, 204);
    cursor: pointer;
}
p{
    margin-top: 4.5%; /* 90% of 5% */
    margin-left: 9%; /* 90% of 10% */
    font-family: Rubik;
    margin-top: 3%;
}

.login{
    color: rgb(121, 122, 122);
}

.login:hover{
    color: rgb(39, 39, 39);
    cursor: pointer;
}